<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title th:text="'Category: ' + ${category.categoryName}"></title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/layout.css" th:href="@{/src/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/style.css" th:href="@{/src/css/style.css}"/>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="pageHeadline" th:text="'Category: ' + ${category.categoryName}"></h1>
		</header>
		<main>
			<h2>Reviews in this category:</h2>
			<ul class="reviewsListedByCategory">
				<li>
					<a th:each="review : ${category.reviews}" th:href="@{/reviews/} + ${review.id}" th:text="${review.reviewTitle}"></a>
				</li>
			</ul>
		</main>
	    <footer>
	    	<p><a class="categoriesPageLink" th:href="@{/categories}">Return to Categories list</a></p>
			<p><a class="goHomeLink" th:href="@{/reviews}">Return to home page</a></p>
			<p class="copyrightInfo">Copyright 2018 Andy Padula</p>
		</footer>	
	</div>
	<script th:src="@{/src/js/app.js}"></script>
</body>
</html>