<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title th:text="'Review of: ' + ${review.reviewTitle}"></title>
	<link rel="stylesheet" href="./src/css/layout.css">
	<link rel="stylesheet" href="./src/css/style.css">
</head>
<body>
	<header>
		<h1 th:text="${review.reviewTitle}"></h1>
			<a th:each="category : ${review.category}" th:href="@{/categories/} + ${category.id}">
	        	<span th:text="${review.category}"></span>
	        </a>
			<!-- <p th:text="${review.category} + ' reviews'"></p> -->
			<h2 th:text="${review.score} + ' stars out of 5'"></h2>
	</header>
	<main>
		<img th:src="${review.imageUrl}" />
    	<p th:text="${review.reviewContent}"></p>
    </main>
    <footer>
		<p><a th:href="@{/reviews}">Return to home page</a></p>
		<p>Copyright 2018 Andy Padula</p>
	</footer>
	<script src="./src/js/app.js"></script>
</body>
</html>