<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Andy's Reviews</title>
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/layout.css" th:href="@{/src/css/layout.css}"/>
	<link rel="stylesheet" type="text/css" media="all" href="/src/css/style.css" th:href="@{/src/css/style.css}"/>
</head>
<body>
	<div class="container">
		<header>
			<h1 class="pageHeadline">All Reviews</h1>
			<!-- nav menu -->
		</header>
		<main>
	    	<ul class="reviewsList">
	   			<li th:each="review : ${reviews}">
		        	<a th:href="@{/reviews/} + ${review.id}">
		        		<span th:text="${review.reviewTitle} + ' (in ' + ${review.category} + ')'"></span>
		        	</a>
	        	</li>
	   		</ul>
	   	</main>
	    <footer>
	    	<p><a class="categoriesPageLink" th:href="@{/categories}">Browse reviews by category</a></p>
			<p class="copyrightInfo">Copyright 2018 Andy Padula</p>
		</footer> 
	</div>	
	<script th:src="@{/src/js/app.js}"></script> 		
</body>
</html>